/* All styles for your Card Components live here */

.card-container {
    width: 492px;
    margin-left: 68px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 9px;
    padding-bottom: 10px;
}

.banner {
    width: 100%;
    height: 250px;
    background: url('https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png') center no-repeat;
    background-size: 800px;
}

.card-content {
    line-height: 1.3;
    padding: 0 14px;
}

.card-title {
    margin: 12px 0 5px 0;
    font-size: 14px;
}

.card-text {
    margin: 0 0 4px 0;
    font-size: 14px;
}

.grey-link {
    text-decoration: none;
    font-size: 14px;
    color: grey;
}