.number-button-styles {
    background: white;
    height: 100px;
    width: 100px;
    font-size: 44px;
    font-weight: bold;
}

.action-button-styles{
    background: white;
    height: 100px;
}

.red {
    background: red;
}